<p style="color: green"><%= notice %></p>

<h1>Candidates</h1>

<div>
  <%= button_to "Populate Candidates", action: 'populate_candidates' %>
</div>

<div id="candidates">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone Number</th>
      </tr>
    </thead>
    <tbody>
      <% @candidates.each do |candidate| %>
        <tr>
          <%= render candidate %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= will_paginate @candidates %>

<%= link_to "New candidate", new_candidate_path %>
